 body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
 }

 h1 {
   color: #66BFBF;
   font-size: 5.625rem;
   margin-top: 0;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
 }

 h2 {
   color: #66BFBF;
   font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
 }

 h3 {
   color: #11999E;
   font-family: 'Montserrat', sans-serif;
 }
 hr {
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;

 }
a {
  margin: 10px 20px;
}
 .topcontainer {
   background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;

 }


 .bottom-cloud {
   position: absolute;
   bottom: 300px;
   left: 300px;
 }

 .top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
 }

 p {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;

 }
 .mypic {
   margin-top: 50px;
   width: 20%;
   height: 20%;
 }

 .Para {
   color: #11999E;
   font-size: 25px;
   font-weight: normal;
 }
 .info {
   width: 50%;
   margin: auto;
   padding-bottom: 20px;
 }
 .skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;

 }
 .code {
   margin-right: 30px;
   float: left;
   width: 30%;
 }
 .bat {
   margin-left : 30px;
   float: right;
   width: 30%;
 }
 .bottom-container {
   margin: 40px auto 0;
   background-color: #66BFBF;
   padding: 50px 0 20px;



 }
 .middle-container {
   width: auto;
   height: auto;
 }


 .btn {

   margin: 100px;
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #1199EE);
   background-image: -moz-linear-gradient(top, #11CDD4, #1199EE);
   background-image: -ms-linear-gradient(top, #11CDD4, #1199EE);
   background-image: -o-linear-gradient(top, #11CDD4, #1199EE);
   background-image: linear-gradient(to bottom, #11CDD4, #1199EE);
   -webkit-border-radius: 6;
   -moz-border-radius: 6;
   border-radius: 6px;
   font-family: Arial;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   text-decoration: none;
 }
.cmessage {
padding: 20px 0 20px;
}
